@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

body,
html {
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #edf5e1;
}

.container {
  text-align: center;
  height: fit-content;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 0.2fr 5.5fr 1fr;
  gap: 5px;
}

.container div {
  font-size: 32px;
  font-weight: bold;
}

.header {
  background-color: #05386b;
  grid-column: 1 / 3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: center;
  align-items: center;
}
.header img {
  vertical-align: middle;
}
.header a {
  text-decoration: none;
  color: #edf5e1;
}
.header a:hover {
  color: #5cdb95;
}
.logo {
  text-align: center;
  padding-left: 15px;
}
.header-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
h3 {
  margin: 0;
  color: #edf5e1;
}
.sidebar {
  background-color: #379683;
  grid-row: 2/4;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  text-align: center;
  place-items: center;
  min-width: 250px;
  gap: 10px;
}
.box {
  background-color: #edf5e1;
  border-radius: 60px;
  width: 220px;
}
.box:hover {
  background-color: whitesmoke;
}

.nav {
  background-color: #5cdb95;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px 0;
  text-align: center;
  height: fit-content;
}
.nav a {
  text-decoration: none;
  color: #edf5e1;
}
.nav a:hover {
  color: #05386b;
}

.articles-container {
  background-color: #8ee4af;
  padding: 0 10px 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  min-height: 600px;
  height: fit-content;
}

.articles-container p {
  font-size: 18px;
  color: white;
  text-align: justify;
}

.article {
  background-color: #edf5e1;
  margin: 20px 0;
}
.article:hover {
  box-shadow: 0 0 20px #05386b;
}
.article p {
  font-size: 15px;
  margin: 5px;
  color: #05386b;
}
h6 {
  margin: 1px;
  color: #05386b;
}
.footer {
  background-color: #05386b;
  grid-column: 1/3;
  height: 70px;
}
